* {
  box-sizing: border-box;
}

.ChessBoard {
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: grey;
}

.ChessRow:nth-child(odd) .ChessSquare:nth-child(odd) {
  background-color: lightgoldenrodyellow;
}

.ChessRow:nth-child(even) .ChessSquare:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

.ChessSquare {
  border: 1px solid black;
  height: calc(500px / 8);
  width: calc(500px / 8);
  margin: 0px;
}

.ChessRow {
  display: flex;
  flex-direction: row;
  height: calc(500px / 8);
}